@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --ColorOne: #1d4e89;
  --ColorTwo: #00b2ca;
  --ColorThree: #7dcfb7;
  --ColorFour: #fdb1a2;
  --ColorFive: #f79256;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
